<h2>List of Kombuchas</h2>

<div class="card" style="width: 18rem" *ngFor="let currentKombucha of childKegList">
  <div class="card-body">

    <h2 class="card-title">{{ currentKombucha.brand }}</h2>
    <p>{{currentKombucha.name}}</p>
    <p class="card-text" [class]="priceColor(currentKombucha)">${{currentKombucha.price}}</p>
    <p class="card-text">Pints remaing: {{currentKombucha.total}}</p>
    <button class="btn btn-outline-warning" (click)="currentKombucha.editTotal()">Down a pint!</button>
    <!-- <button (click)="editKegInfo(currentKombucha)">Edit Keg</button> -->
    <button class="btn btn-outline-info" (click)="editButtonClicked(currentKombucha)">Edit button Clicked</button>

  </div>
</div>
